|
  #{t('.hello', name: @user.nickname)}
= "\n\n"
|
  #{t('.error_message', id: @check.id, repository_name: @repository.name)}
  #{t('.recommends')}
|
  #{@repository_url}
= "\n\n"
= '------------------------------------------------------------------------'
= "\n\n"
|
  #{t('.thanks')}
= "\n\n"
|
  #{t('.signature')}
  #{t('.team')}
  #{@root_url}
